@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

#GrandeGrid{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.646) ;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.037);
   display: grid; 
   grid-template-columns: 2fr 2fr;
   grid-template-rows: auto;
   width: 700px;
   margin: 50px auto;
   height: auto;
}

.MediaGrid {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end:3;
    grid-row-end: 1;
    padding: 30px;
    color: hsl(204, 43%, 80%) ;
}

#GridEsquerda {
    background-color: hsl(179, 62%, 43%) ;
    height: 200px;
    border-radius: 0px 0px 0px 10px;
    color: white;
    font-family: 'Karla', sans-serif;
    padding: 20px 50px;
}

#GridDireita {
    background-color: hsla(179, 62%, 43%, 0.831);
    height: 200px;
    border-radius: 0px 0px 10px 0px;
    color: white;
    font-family: 'Karla', sans-serif;
    padding: 20px 50px;
}

h1 {
    color: hsl(179, 62%, 43%) ;
}

h2 {
    color: hsl(71, 73%, 54%) ;
}

h3 {
    font-weight: bold;
}

span {
    font-size: 30px;
    font-weight: bolder;
    padding-right: 10px;
    
}

#GridEsquerda p {
    font-weight: bold;
    margin-bottom: 40px;
}

#Botão {
    background-color: hsl(71, 73%, 54%);
    padding: 10px 100px 10px 80px;
    font-size: 15px;
    font-weight: bold;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.126);
    transition: 1s;
}

#Botão:hover{
    background-color: hsl(71, 73%, 38%); 
}

#GridEsquerda a {
    text-decoration: none;
    color: white;
}

#GridDireita pre {
    margin-left: -90px;
}